* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 13px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: rgba(0,0,0,0.87);
}

body {
  display: flex;
  flex-direction: column;
}

/*--Header--*/

.menu {
  height: 64px;
  width: 100vw;
  padding: 8px;
  
  display: flex;
  align-items:center;
  justify-content:flex-end;
}

.menu__section {
  height: 48px;
  display: flex;
  align-items: center;
}


.menu__link {
  text-decoration: none;
  line-height: 4;
  
  margin-right: 15px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__icon {
  width: 40px;
  height: 40px;
  background-color:transparent;

  margin-right: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.menu__icon:hover {
  cursor: pointer;
}

.menu__icon::before {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #eaece5;
  border-radius: 50%;

  position: absolute;

  opacity: 0;
}

.menu__icon:hover::before {
  opacity: 1;
}

.menu__icon img {
  width: inherit;
  height: inherit;
  padding: 8px;

  position: absolute;
}

.menu__avatar {
  width: 40px;
  height: 40px;
  background-color: transparent;

  margin-right: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.menu__avatar:hover {
  cursor: pointer;
}

.menu__avatar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #eaece5 ;
  border-radius: 50%;

  position: absolute;

  opacity: 0;
}

.menu__avatar:hover::before {
  opacity: 1;
}

.menu__avatar img {
  width: inherit;
  height: inherit;
  border-radius: 50%;

  padding: 4px;

  position: absolute;
}

/*--Main--*/

.content {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 560px;
  height: 40px;
  /* border: 1px solid rgba(0, 0, 0, 0.205); */
  border-radius: 25px;
  box-shadow: 0 1px 6px #adafa9;

  position: relative;
}

.content__search input {
  height: inherit;
  width: inherit;
  padding: 10px 50px ;

  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 25px;
}

.content__search .search__icon {
  position: absolute;
  left: 20px;
}

.content__search .button__voice {
  position: absolute;
  width: 24px;
  height: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  right: 20px;
}


.shortcuts {
  width: 465px;
  /* border: 1px solid #4285f4; */
  margin-top: 20px;
  padding-top: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shortcutContainer {
  width: 112.5px;
  height: 112.5px;
  background-color: transparent;
  /* border: 1px solid rgb(42, 233, 42); */
  
  border-radius: 4px;
  margin: 0 1.5px 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shortcut {
  width: 90%;
  height: 75%;

  /* border: 1px solid greenyellow; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.shortcutLogo {
  background-color: #eaece5;
  width: 47.5px;
  height: 47.5px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shortcutLogo img {
  width: 21px;
  height: 21px;
}

.shortcutContainer:hover {
  background-color: #eaece5;
}

.shortcutContainer:hover .shortcut .shortcutLogo {
  background-color: #ffffff85;
  
}