* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.menu {
  height: 64px;
  width: 100%;
  padding: 8px;
  
  display: flex;
  align-items:center;
  justify-content:flex-end;
}

.menu__section {
  display: flex;
  align-items: center;
}


.menu__link {
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: rgb(90, 90, 90);
  
  margin-right: 13px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__icon {
  width: 40px;
  height: 40px;
  background-color:transparent;

  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.menu__icon:hover {
  cursor: pointer;
}

.menu__icon::before {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #eaece5;
  border-radius: 50%;

  position: absolute;

  opacity: 0;
}

.menu__icon:hover::before {
  opacity: 1;
}

.menu__icon img {
  width: inherit;
  height: inherit;
  padding: 8px;

  position: absolute;
}

.menu__avatar {
  width: 40px;
  height: 40px;
  background-color: transparent;

  margin-right: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.menu__avatar:hover {
  cursor: pointer;
}

.menu__avatar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-color: #eaece5 ;
  border-radius: 50%;

  position: absolute;

  opacity: 0;
}

.menu__avatar:hover::before {
  opacity: 1;
}

.menu__avatar img {
  width: inherit;
  height: inherit;
  border-radius: 50%;

  padding: 4px;

  position: absolute;
}





